* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Navbar*/
nav {
  background-color: rgb(18, 112, 253);
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8 em;
}

nav ul li a:hover {
  color: aqua;
}
/* end Navbar*/

/* home */
.home img {
  margin-top: 15px;
  width: 16%;
  height: 15%;
  margin-bottom: 15px;
}

.home {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.home h1 {
  margin-bottom: 5px;
}

/* about */
.about {
  padding: 7% 0;
  background-color: rgb(31, 80, 243);
  text-align: center;
  margin-bottom: auto;
}
.about p {
  color: white;
}
.about h2 {
  color: white;
  margin-bottom: 5px;
}

.profile-container {
  padding-top: 25px;
  margin: auto;
  justify-content: start;
  width: 50%;
}
.profile-desc {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 90%;
  border: 1px dashed white;
}
.profile-desc h2 {
  margin-bottom: 15px;
}
.profile-desc p {
  width: 80%;
  text-align: start;
  display: inline-block;
  line-height: 0px;
}
/* project*/
.project{
padding: 100px;
text-align: center;
}

.project h1{
  text-align: center;
  font-size: larger;
}

.contact {
  font-size: large;
  margin: auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin: auto;
  text-align: center;
  padding: 32px;
  background-color: #0084ff;
  color: white;
}
